.info{
    margin: 100px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 550px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}
.title h2{
    margin-left: 20px;
}
.account{
    display: flex;
    padding: 20px 50px;
}
.box_left{
    margin-right: 300px;
}
.box_left .title_avatar h4{
    margin: 50px 0px;
}
.box_right input{
    border: none;
}
.box_right .img_avt{
    margin: 50px 0px;
}
.box_right .content_name{
    margin: 0px 0px;
}
.box_right .content_pass{
    margin: 15px 0px;
}
.box_right .content_email{
    margin: 21px 0px;
}
.box_right .content_tel{
    margin: 19px 0px;
}
.box_right .content_address{
    margin: 20px 0px;
}